[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
radon = "*"
coverage = "*"
sphinx = "*"
mypy = "*"
python-language-server = "*"
vermin = "*"
twine = "*"

[packages]

[requires]
python_version = "3.8"
